aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
annotated-types
anyio
async-timeout
attrs
av
awscli
beautifulsoup4
beir
blis
boto3
botocore
braceexpand
cachetools
catalogue
cbor
certifi
charset-normalizer
click
cloudpathlib
colorama
coloredlogs
confection
contourpy
cycler
cymem
Cython
datasets
deepspeed
dill
distro
docker-pycreds
einops
elasticsearch
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
eval_type_backport
evaluate
exceptiongroup
filelock
flatbuffers
fonttools
frozenlist
fsspec
ftfy
gitdb
GitPython
h11
hjson
httpcore
httpx
huggingface-hub
humanfriendly
idna
ijson
iniconfig
inscriptis
Jinja2
jiter
jmespath
joblib
jsonlines
kiwisolver
langcodes
language_data
lightgbm
littleutils
loguru
lxml
lz4
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
mteb
multidict
multiprocess
murmurhash
networkx
ninja
nltk
nomic
numpy
ogb
onnx
onnxconverter-common
onnxruntime
openai
outdated
packaging
pandas
pathlib_abc
pathy
peft
pillow
platformdirs
pluggy
polars
preshed
pretty-errors
proto-plus
protobuf
psutil
py-cpuinfo
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pybind11
pycocoevalcap
pycocotools
pydantic
pydantic_core
Pygments
pyjnius
PyJWT
pynvml
pyparsing
pytest
python-dateutil
pytrec-eval
pytrec-eval-terrier
pytz
PyYAML
regex
requests
rich
rsa
s3fs
s3transfer
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
sympy
tabulate
thinc
threadpoolctl
tiktoken
timm
tokenizers
tomli
torch==2.9.0
torchaudio==2.9.0
torchmetrics
tqdm
transformers
triton
typer
typing_extensions
tzdata
unlzw3
urllib3
wandb
warc3-wet
warc3-wet-clueweb09
wasabi
wcwidth
webdataset
wilds
wrapt
xxhash
yarl
zlib-state